<div>
  <form name="loginForm" (ngSubmit)="loginForm.valid && login()" #loginForm="ngForm" novalidate>
    <h2>Login to your account</h2>
    <div>
      <input type="login" name="userLogin" [(ngModel)]="model.login" #userLogin="ngModel" ngModel id="login"
             [textMask]="{mask: mask}" required/>
      <label for="login">Login</label>
    </div>
    <app-errors [control]="userLogin"></app-errors>
    <div>
      <input type="password" name="userPassword" [(ngModel)]="model.password" #userPassword="ngModel" ngModel
             id="password" passwordValidation required/>
      <label for="password">Password</label>
    </div>
    <app-errors [control]="userPassword"></app-errors>
    <div>
      <botton [disabled]="!loginForm.valid">Enter</botton>
      <a [routerLink]="['/register']">Registration</a>
    </div>
  </form>
</div>
